# Exchange Configuration for price_ltp

bybit:
  name: "Bybit"
  enabled: true
  services:
    spot:
      enabled: true
      websocket_url: "wss://stream.bybit.com/v5/public/spot"
      symbols:
        - "BTCUSDT"
        - "ETHUSDT"
        - "SOLUSDT"
        - "BNBUSDT"
        - "DOGEUSDT"
      reconnect_interval: 5
      max_reconnect_attempts: 10
      redis_prefix: "bybit_spot"

coindcx:
  name: "CoinDCX"
  enabled: true
  services:
    futures_ltp:
      enabled: true
      websocket_url: "wss://stream.coindcx.com"
      symbols:
        - "B-BTC_USDT"
        - "B-ETH_USDT"
        - "B-SOL_USDT"
        - "B-BNB_USDT"
        - "B-DOGE_USDT"
      reconnect_interval: 5
      max_reconnect_attempts: 10
      redis_prefix: "coindcx_futures"

    funding_rate:
      enabled: true
      api_url: "https://public.coindcx.com/market_data/v3/current_prices/futures/rt"
      update_interval: 1800  # 30 minutes
      symbols:
        - "B-BTC_USDT"
        - "B-ETH_USDT"
        - "B-SOL_USDT"
        - "B-BNB_USDT"
        - "B-DOGE_USDT"
      redis_prefix: "coindcx_futures"
      api_timeout: 10

delta:
  name: "Delta Exchange"
  enabled: true
  services:
    futures_ltp:
      enabled: true
      websocket_url: "wss://socket.delta.exchange"
      symbols:
        - "BTCUSD"
        - "ETHUSD"
        - "SOLUSD"
        - "BNBUSD"
        - "DOGEUSD"
      reconnect_interval: 5
      max_reconnect_attempts: 10
      redis_prefix: "delta_futures"

    options:
      enabled: true
      websocket_url: "wss://socket.delta.exchange"
      symbols:
        # Format: C-UNDERLYING-STRIKE-EXPIRY (Call) or P-UNDERLYING-STRIKE-EXPIRY (Put)
        # EXPIRY FORMAT: DDMMYY (e.g., 211025 = 21-Oct-2025)
        # BTC options (expiring Oct 21, 2025) - Active contracts
        - "C-BTC-108200-211025"  # BTC Call, Strike 108200, Expiry 21-Oct-25
        - "P-BTC-108200-211025"  # BTC Put, Strike 108200, Expiry 21-Oct-25
        - "C-BTC-110000-211025"  # BTC Call, Strike 110000, Expiry 21-Oct-25
        - "P-BTC-110000-211025"  # BTC Put, Strike 110000, Expiry 21-Oct-25
        - "C-BTC-105800-211025"  # BTC Call, Strike 105800, Expiry 21-Oct-25
        - "P-BTC-105800-211025"  # BTC Put, Strike 105800, Expiry 21-Oct-25
        # ETH options (expiring Oct 20, 2025) - Active contracts
        - "C-ETH-4000-201025"    # ETH Call, Strike 4000, Expiry 20-Oct-25
        - "P-ETH-4000-201025"    # ETH Put, Strike 4000, Expiry 20-Oct-25
        - "C-ETH-3980-201025"    # ETH Call, Strike 3980, Expiry 20-Oct-25
        - "P-ETH-3980-201025"    # ETH Put, Strike 3980, Expiry 20-Oct-25
      reconnect_interval: 5
      max_reconnect_attempts: 10
      redis_prefix: "delta_options"
